// FONTS

// Old Stacks
// $headingFont: 'Manrope', system-ui, sans-serif;
// $bodyFont: 'Bitter', 'Georgia', system-ui, 'EB Garamond', sans-serif; 

// New Stacks
// $headingFont: 'Inter', 'Manrope', system-ui, sans-serif;
$headingFont: 'Manrope', system-ui, sans-serif;
$bodyFont: 'Inter', 'Bitter', 'Georgia', system-ui, sans-serif;





// COLORS
// Realtime Colors Palette
$text: #262626;
$background: #ebebeb;
// $primary: #1A0DAB;
$primary: #2414d4;
// $secondary: #bad4fc;
$secondary: #6da3f5;
$accent: #F8991D;

$veryLightGrey: #dbdbdb;





// OTHER
$breakpoint: 816px;